#greeter{
   padding:10px; 
   display:flex;
   margin:3rem;
   color: burlywood;

}
html{
   background-color: #141414; 
}
#weather{
justify-content: flex-start;
}
#greeting{
    display: flex;
    justify-content: flex-end;
}
#planner{
    padding-top: 15px;
}
#paint{
    padding-top: 5rem;
    width:100%;
}
#news{
    /* display: flex; */
    font-size: large;
    padding-left: 2rem;
   
}
#carder{
    margin-top:1rem;
    margin-bottom: 1rem;
    background-color: #141414;
    color: white;
}
#password{
    height:fit-content;
}
body {
  font-family:  'Arvo', serif;
  font-size: 16px;
  line-height: 1;
  background-color: #141414;
}
.col-sm-1{
  padding-top: 30px;
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #D7D7D9;
  
  padding: 10px;
  padding-top: 35px;
  width: -webkit-fill-available;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #D7D7D9;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
height: 80px;
border:1px #1C1919;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
background-color:#24201F;
}

.hour {
  background-color: #1C1919;
  color: #4D5958;
  border-top: .5px dashed #000000;
}

.past {
  background-color:#260808 ;
  color: #000000;
}

.present {
  background-color: #343A40;
  color: white;
}

.future {
  background-color: #1E3040;
  color: white;
}

.saveBtn{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.saveBtn2{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.saveBtn3{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.saveBtn4{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.saveBtn5{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.saveBtn6{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}.saveBtn7{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.saveBtn8{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.saveBtn9{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}.saveBtn10{
  border-left: 1px solid #1A1E26;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1A1E26;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
#carder:hover {
    font-size: 20px;
    transition: all 0.5s ease-in-out;
  }
.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.saveBtn2:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}.saveBtn3:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}.saveBtn4:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}.saveBtn5:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}.saveBtn6:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}.saveBtn7:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}.saveBtn8:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.saveBtn9:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.saveBtn10:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
textarea:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.pt-3-half {
  padding-top: 1.4rem;
  }

  .col-sm-2{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-left:15px ;
    padding-right:0px ;
  }